.formconctato__form{
    display: flex;
    flex-direction: column;
}

.formcontacto--izquierda{
    display: none;
}

.formconctato__elemento{
    margin: 0.5rem auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--color-de-fondo-alternativo);
    transition: .3s all;
}

.formconctato__elemento:focus{
    background-color: #d3e9ff;
    box-shadow: 0px 0px 0.5rem 0.3rem rgb(107, 107, 255);
    outline: red;
}

.formcontacto__boton {
    margin: 0.5rem auto;
    box-sizing: border-box;
    width: 100%;
    min-width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
    padding: .25rem .75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: .5rem;
    z-index: 0;
    background: #308dea;
    overflow: hidden;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.formcontacto__boton:hover {
    color: #fff;
}
.formcontacto__boton:hover:after {
    width: 100%;
}
.formcontacto__boton:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    background: rgb(12, 12, 32);
}

.formcontacto__obligatorio{
    font-size: .75rem;
    font-style: italic;
    color: antiquewhite;
}


.ventana::backdrop {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(3px);
}

.ventana {
    flex-direction: column;
    border: 7px double darkblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px -1px black;
    background-color: antiquewhite;
    justify-content: center;
    animation: abrirVentana 1s;
}

@keyframes abrirVentana{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.ventana p, .ventana strong{
    color: black;
    text-shadow: none;
}

@media screen and (min-width:1024px) {

    .formcontacto__contacto{
        display: flex;
        flex-wrap: nowrap;
    }

    .formcontacto--izquierda{
        display: block;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        overflow: hidden;
        opacity: .75;
    }

    .formcontacto__img{
        height: 100%;
        width: 100%;
    }
    
    .formcontacto__text{
        padding-left:3rem;
    }

    .formcontacto__titulo{
        margin-top: 0;
    } 
}