.academic__cursos__list{
    padding: 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0;
    margin-top: 1rem;
    border-top: 2px solid silver;    
}

.academic__cursos__item__img{
    height: 5rem;
    background-position: center;
    place-items: center center;
    margin: auto;
    border-radius: .5rem;
    overflow: hidden;
}

.academic__cursos__item__img img{
    height: 100%;

}

.academic__cursos__item__titulo h4{
    font-size: .9rem;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.academic__cursos__item__subtitulo p{
    margin: .5rem auto;
    height: 1rem;
    font-size: .85rem;
}

@media screen and (min-width:768px){
    
    .academic__cursos{
        display: flex;
        flex-wrap: wrap;
    }

    .academic__cursos__box{
        width: calc((100% / 2) - 1rem);
        text-align: center;
    }

    .academic__cursos__item__titulo{
        height: 3.5rem;
    }

}@media screen and (min-width: 1024px){
    .academic__cursos__box {
        width: calc((100% / 3) - 1rem);
    }
}