/*Sección Menu*/

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__titulo__container{
    width: 100%;
    margin: auto;
}

.menu__titulo{
    position: relative;
    font-family: monospace;
    font-size: 1.5rem;
    margin: .7rem auto;
    text-align: left;
}

.menu__titulo span{
    position: absolute;
    right: 0;
    width: 0;
    height: 1.6rem;
    background: rgba(0,212,255,1);
    animation: tipeo 3s steps(22), titilar .5s 3s infinite;
}

@keyframes tipeo {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@keyframes titilar {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu__list__item__contacto{
    text-align: center;
    font-weight: bold;
}

.menu__list{
    margin: 0;
    padding: 0;
    width: 60%;
    max-width: 20rem;
}

.menu__list__item__titulo{
    padding: 0.625rem;
    margin: auto;
    border-bottom: 2px solid var(--color-lineas);
    background: var(--color-de-fondo-alternativo);
    color: gold;
    text-align: end;
    font-weight: bold;
    font-style: italic;
    font-size: calc(var(--tamanio-icono) - 1rem);
}

.menu__list__item__ancla{
    text-decoration: none;
    display: block;
    padding: .625rem 1rem;
    border-bottom: 2px solid var(--color-lineas);
    background: var(--color-de-fondo-alternativo);
    color: var(--color-de-texto);
}

.menu__nav{
    display: none;
}

.menu__check:checked ~ .menu__nav{
    display: block;
}

.menu__opciones{
    width: calc(100% - 0.75rem);
    align-items: center;
    justify-content: space-between;
    height: var(--tamanio-icono);
}

.menu__list__item__contacto__ancla{
    font-size: .9rem;
}

.menu_responsivo{
    position: relative;
    min-height: var(--tamanio-icono);
    align-self: flex-start;
    /* width: 75%; */
    opacity: .75;
    z-index: 2;
}

.menu__icono, .menu__check{
    width: var(--tamanio-icono);
    height: var(--tamanio-icono);
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0;
}

.menu__icono{
    font-size: var(--tamanio-icono);
    pointer-events: none;
}

.menu__check{
    opacity: 0;
}

.menu__check:checked ~ .menu__icono__barras{
    display: none;
}

.menu__check:not(:checked) ~ .menu__icono__cruz{
    display: none;
}

@media screen and (min-width:1024px) {
    .menu {
        display: flex;
    }

    .menu__titulo{
        display: inline;
    }

    .menu__titulo span{
        background: #0611e1;
    }

    .menu__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 0.75rem);
        height: 3rem;
    }

    .menu_responsivo{
        opacity: 1;
    }

    .menu__list__item__contacto {
        font-size: 1.5rem;
    }

    .menu__icono, .menu__check {
       display: none;
    }

    .menu__nav {
        display: block;
    }

    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        max-width: 100%;
    }


    .menu__list__item__titulo{
        display: none;
    }

    .menu__list__item{
        text-align: center;
    }

    .menu__list__item__ancla {
        color: white;
        text-align: center;
        background: none;
        font-size: 1rem;
        border-radius: 1px;
        border-bottom:1px solid transparent;
        padding-bottom: .3125rem;
        padding-top: .3125rem;
        margin: .3125rem .125rem;
        }

    .menu__list__item__ancla:hover{
        background-color: rgba(255,255,255,.3);
        border-bottom:1px solid blue;
        transition: all 1s; 
    }


    .menu__opciones{
        height: initial;
    }
}