.skills__linea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.17rem;
}

.skills__box{
    background: #d4dcff;
    color: rgb(0, 0, 0);
    width: calc((100% / 3) - 0.75rem);
    margin: 0.25rem;
    border-radius: 20%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 0.75rem 0.25rem rgb(10 10 141);
}

.skills__box ul{
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.skills__img{
    height: 2.25rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.skills__img img{
    height: 100%;
}

/*Tablet*/
@media screen and (min-width: 768px) {

    /* .skills__titulo{
        font-size: 2rem;
    } */
    .skills__box{
        width: calc((100vw / 4) - 2rem);
        height: calc((100vw / 4) - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    /* .skills__img{
        height: 5rem;
    } */

    .skills__linea{
        align-items: center;
    }
    
    /* .skills__nombre{
        font-size: 1.5rem;
        margin-top: 1rem;
    } */
}

@media screen and (min-width: 1024px){
    .skills__box {
        width: calc((100vw / 9) - 1rem);
        height: calc((100vw / 9) - 1rem);
        flex-direction: row;
        max-width: 7rem;
        max-height: 7rem;
        justify-content: space-around;
    }

    .skills__linea {
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .skills__nombre{
        margin-top: 1rem;
    }

    
}