:root{
   --color-de-fondo: rgb(58, 58, 58);
   --color-de-fondo-alternativo: #010c19;
   --color-de-link: rgb(246, 246, 246);
   --color-lineas: silver;
   --color-de-texto:whitesmoke;
   --tamanio-icono:2.25rem;
}

html{
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);  
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--color-de-texto);
}

.cuerpo{
    width: 100%;
}

.fondo-semi-transparente{
    background-color: rgba(0,0,0,.1);
    border-radius: 1rem;
    padding: .25rem;
    margin: .25rem;
}
ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-de-link);
}

.contenedores{
    width: calc(100% - 0.75rem);
    margin: auto;
    margin-top: 1rem;
}

.aparecer{
    position: relative;
    transform: translateY(5rem);
    opacity: 0;
    transition: 1s all ease;
}

.aparecer.activo{
    transform: translateY(0);
    opacity: 1;
}

.texto-centrado{
    text-align: center;
}

.texto-justificado{
    text-align: justify;
}

.btn_home_boton{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: 1s all;
    z-index: 99;
    border-radius: 100%;
    border: none;
    background-color: whitesmoke;
    width: 2rem;
    height: 2rem;
    align-items: center;
    cursor: pointer;
}
/*Tablet*/
@media screen and (min-width: 768px) {
    body{
        font-size: 20px;
    }
    .cuerpo{
        width: 95%;
        margin: auto;
    }

}

@media screen and (min-width: 1024px) {
    .cuerpo{
        width: 95%;
        margin: auto;
        max-width: 1200px;
    }
}