/* .titulo{
    margin-top: 1rem;
    width: calc(100% - 0.75rem);
    margin: auto;
} */

.titulo__div{
    justify-content: center;
}

.titulo__div__imagen{
    margin: auto;
    width: 60%;
    max-width: 22rem;
    justify-content: center;
}

.titulo__profile{
    width: 100%;
}

.titulo__subsection{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
}

.titulo__network{
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.titulo__network__item{
    padding: .25rem;
    width: 6rem;
    border-bottom: 1px solid var(--color-de-link);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .titulo__div {
        display: flex;
        flex-direction: row-reverse;
    }

    .titulo__container{
        width: 50%;
    }

    .titulo__subsection {
        font-size: inherit;
        line-height: 1.25;
    }
}

@media screen and (min-width:1024px) {

    .titulo__div {
        justify-content: space-around;
    }

    .titulo__div__imagen{
        margin:0;
        justify-content: space-around;
    }

    .titulo__network__item {
        width: 7rem;
    }
}